<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, @user.name %>

<div id="contenuto" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <aside class="span4">
      <section>
        <div>
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </div>
        <section>
          <%= render 'shared/stats' %>
        </section>
      </section>
      <section>
        <%= image_tag('etichetta.jpg') %>
      </section>
      <sectionbis>
        <%= image_tag('showman.jpg', title:'Partecipa a 5 spettacoli/concerti (categoria SPETTACOLO)') %>
        <%= image_tag('bohemien.jpg', title:'Fai cena/apericena in 5 locali diversi (categoria FOOD&RESTAURANT)') %>
        <%= image_tag('shakeselected.jpg', title:'Partecipa a 5 eventi della categoria NIGHTCLUBBING') %>
      </sectionbis>
      <span>
       <span><%= link_to 'Potresti conoscere...',hints_user_path(@user)%></span>
      </span>
      <section>
        <ul class="nav">
          <li class="selected"><a href="#"><center>Calendario</center></a></li>
          <li><a href="<%= photos_user_path(@user) %>"><center>Foto</center></a></li>
          <li><a href="<%= messages_user_path(@user) %>"><center>Messaggi</center></a></li>
          <li><a href="<%= followers_user_path(@user) %>"><center>Follower</center></a></li>
          <li><a href="<%= following_user_path(@user) %>"><center>Following</center></a></li>
          <li><a href="<%= my_locals_user_path(@user) %>"><center>Locali che seguo</center></a></li>
        </ul>
      </section>
    </aside>

    <% if current_user.following?(@user) %>
        <section>
          <%= link_to 'New message', new_message_path(user: @user.id), role: 'button', class: 'btn btn-info', remote: true %>
          <div class="message"></div>
        </section>
    <% end %>

    <div class="span8">
      <%= render 'follow_form' if signed_in? %>
      <%= image_tag('calendario.jpg') %>
      <% if @user.posts.any? %>
          <h3>Posts (<%= @user.posts.count %>)</h3>
          <ol class="posts">
            <%= render @posts %>
          </ol>
          <% # since we are in a Users view, we need to specify that the pagination is for the posts %>
          <% will_paginate @posts %>
      <% end %>
    </div>

    </div>
  </div>
</div>