<% #Provide the page title in a symbol to application.html.erb to avoid duplication %>
<% provide :title, 'Home' %>

<% if signed_in? %>
    <div id="contenuto">
      <div class="row">
        <aside class="span3">
          <section>
            <%= render 'shared/user_info' %>
          </section>
          <section>
            <%= render 'shared/stats' %>
          </section>
          <section class="center">
            <ul class="nav">
              <li class="selected"><a href="#">BACHECA AMICI</a></li>
              <li><a href="<%= event_spettacolo_user_path(@user) %>">Spettacolo</a></li>
              <li><a href="<%= event_f_r_user_path(@user) %>">Food&Restaurant</a></li>
              <li><a href="<%= event_nightclubbing_user_path(@user) %>">Nightclubbing</a></li>
            </ul>
          </section>
        </aside>
        <div id="span8">
          <section>
          <%= render 'shared/post_form' %>
          </section>
          <section>
          <h3>BACHECA AMICI</h3>
          <%= render 'shared/feed' %>
          </section>
        </div>
      </div>
    </div>
<% else %>
    <div id="contenuto">

      <h1>Welcome to <%=image_tag('logo.jpg')%></h1>
      <h2>
        Entra subito e... da' il via alla festa!
      </h2>
      <h2>
        Hai già un account eVents? Effettua il Login!
      </h2>

      <center><%= link_to "ISCRIVITI",sign_up_path, class: "pulsante" %></center>
    </div>
<% end %>
