<header class="navbar navbar-fixed-top navbar-inverse">
  <div id="navbar-inner">
    <nav>
      <div id="container">
        <%= link_to image_tag('logo.jpg'), root_path, id: "logo" %>
        <ul class="nav pull-right">
          <li>
            <% if signed_in? %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Profilo", current_user %></li>
              <li><%= link_to "Utenti", users_path %></li>
              <li><%= link_to "Impostazioni", edit_user_path(current_user) %></li>
              <li><%= link_to "Log out", sign_out_path, method: "delete" %></li>
          <% else %>
              <li><%=link_to "Log in", sign_in_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>